{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <section class="secton">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Transacted</th>
                </tr>
            </thead>
            <tbody>
                {% for stuff in data %}
                <tr scope="row">
                    <td>{{ stuff.stock }}</td>
                    <td>{{ stuff.shares }}</td>
                    <td>{{ stuff.price | usd }}</td>
                    <td>{{ stuff.date }}</td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </section>
{% endblock %}
