{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <section class="secton">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for stuff in data %}
                <tr scope="row">
                    <td>{{ stuff.symbol }}</td>
                    <td>{{ stuff.name }}</td>
                    <td>{{ stuff.shares }}</td>
                    <td>{{ stuff.price | usd }}</td>
                    <td>{{ stuff.total | usd }}</td>
                </tr>
                {% endfor %}
                <tr scope="row">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>{{ total_cash | usd }}</strong></td>
                </tr>
            </tbody>
        </table>
    </section>
{% endblock %}
