{% extends "layout.html" %}

{% block script%}
    <script defer src="../static/sell.js"></script>
{% endblock %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    {% if message %}
        <p>{{ message }}</p>
    {% else %}
    <section class="container">
        <form action="/sell" method="POST">
            <div class="form-group">
                <label for="stock">
                    Stock symbol:
                    <input class="form-control" type="text" name="stock" id="stock" placeholder="AAPL...">
                </label>
            </div>
            <div class="form-group">
                <label for="shares">
                    Number of shares:
                    <input class="form-control" type="number" name="shares" id="shares" placeholder="1">
                </label>
            </div>
            <input class="btn btn-primary" type="submit" value="Sell Stock">
        </form>
    </section>
    <div class="container p-3">
        <p class="text-danger" id="warning"></p>
    </div>
    {% endif %}

{% endblock %}
