{% extends "layout.html" %}

{% block script %}
    <script defer src="../static/withdraw.js"></script>
{% endblock %}

{% block title %}
    Quote
{% endblock %}

{% block main %}

    <section class="container">
        <form action="/withdraw" method="POST">
            <div class="form-group">
                <label for="money">
                    Money to withdraw:
                    <input class="form-control" type="number" name="money" id="money" placeholder="10000">
                </label>
            </div>
            <input class="btn btn-primary" type="submit" value="Withdraw money">
        </form>
        <div class="container p-3">
            <p class="text-danger" id="warning"></p>
        </div>
    </section>

{% endblock %}
